{{ $posts := where .Site.Pages "Params.type" "post" }}
<div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <!-- heading -->
                            <div class="recentpostmain">
                                <h4>Recent Post</h4>
                                <p><a href="../Marcel-Theme/blog.html">See all</a></p>
                            </div>
                            <div>
                                <div class="card recentpost" style="width: 20rem;">
                                    <img src="assets/images/blogdetail1.webp" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title"><a href="">My new ride</a></h5>
                                      <hr>
                                      <div>
                                        <p class="card-text recentpost3">
                                            <small class="cardend2 recentpost1">
                                                <a href="" class="recentpost2">
                                                    <i class="fa-solid fa-eye pe-1"></i>
                                                    34
                                                </a>
                                                <a href="" class="ps-3 recentpost2">
                                                    <i class="fa-regular fa-comment pe-2"></i> 
                                                    0  
                                                </a>
                                            </small>
                                            <i class="fa-regular fa-heart"></i>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
<div class="">
    <div class="row">
        <style>
            .RecentPosts{
                display: flex;
                justify-content: center;
                width: 28%;
            }
        </style>
        <div class="col-md-1"></div>
        {{ range $posts.ByDate.Reverse | first 3 }}
        <div class="col-md-3 RecentPosts">
            <div class="card recentpost" style="width: 100%; height:100%;">
                <img src="{{ .Params.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    <p class="card-text cardend1">
                        <small class="text-muted cardend2">
                            {{ range .Site.Params.placeholder }}
                                <span>Views {{ .views }} </span>          
                                <span>Likes {{ .likes }}</span>
                            {{ end }}
                        </small>
                        {{ range .Params.tags }}
                        <a href="{{ printf "/tags/%s" . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
        <div class="col-md-1"></div>
       
    </div>
</div>
