{{ $posts := where .Site.Pages "Params.type" "post" }}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <!-- heading -->
                <div class="recentpostmain">
                    <h4>Recent Post</h4>
                    <p><a href="{{ "blogs" | absURL }}">See all</a></p>
                </div>
                <div class="row">
                    {{ range $posts.ByDate.Reverse | first 3 }}
                    <div class="col-md-4 mb-3">
                        <div class="card recentpost" style="width: 20rem;">
                            <img src="{{ .Params.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                                <hr>
                                <div>
                                    <p class="card-text recentpost3">
                                        <small class="cardend2 recentpost1">
                                            {{ range .Site.Params.placeholder }}
                                            <a href="#" class="recentpost2">
                                                <i class="fa-solid fa-eye pe-1"></i>
                                                {{ .views }}
                                            </a>
                                            <a href="#" class="ps-3 recentpost2">
                                                <i class="fa-regular fa-comment pe-2"></i> 
                                                {{ .comments }}  
                                            </a>
                                            {{ end }}
                                        </small>
                                        {{ range .Params.tags }}
                                        <a href="{{ printf "/tags/%s" . | urlize }}">{{ . }}</a>
                                        {{ end }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
