<div class="p-2">
    <div class="row">
        {{ range .Site.Data.tools }}
        <div class="col-md-5">
            {{ range .left }}
            <h4>{{ .category }}</h4>
            {{ range .tools }}
            <div class="tool1">
                <b><a href="{{ .link }}">{{ .name }}</a></b>
                <p>{{ .description }}</p>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 mt-6">
            {{ range .right }}
            <h4>{{ .category }}</h4>
            {{ range .tools }}
            <div class="tool1">
                <b><a href="{{ .link }}">{{ .name }}</a></b>
                <p>{{ .description }}</p>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
    <br>
</div>
<br><br><br>