{{ define "main" }}
    <!-- Blogs -->
    <div>
        <div class="container">
            <div class="row">
                {{- partial "post-header" . -}}
            </div>
        </div>
    </div>
    <br>
    
    <!-- Blog articles -->
    <div>
        <div class="container">
            <div class="row">
                {{ $posts := where .Site.Pages "Params.type" "post" }}
                {{ range $posts.ByDate.Reverse | first 4 }}
                <div class="col-md-5 card-main-1">
                    <div class="card mb-5">
                        <img src="{{ .Params.image }}" class="card-img-top" alt="...">
                        <div class="card-body ms-3">
                            <div class="card1">
                                <div class="cardimg">
                                    <img src="{{ .Site.Params.authorImage | relURL }}" alt="">
                                </div>
                                <div class="card2">
                                    <p>{{ .Params.authorName }} <i class="fa-solid fa-crown"></i></p>
                                    <p>{{ .Date.Format "January 2, 2006" }} &bull; {{ .ReadingTime }} Min </p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ .Permalink }}" class="card3">
                                <h3 class="card-title"><strong>{{ .Params.title }}</strong></h3>
                                <p class="card-text mb-3">{{ .Summary }}</p>
                            </a>
                            <br> <br>

                            <p class="card-text cardend1">
                                <small class="text-muted cardend2">
                                    {{ range .Site.Params.placeholder }}
                                        <span>Views {{ .views }} </span>          
                                        <span>Likes {{ .likes }}</span>
                                    {{ end }}
                                </small>
                                {{ range .Params.tags }}
                                <a href="{{ printf "/tags/%s" . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}                
               <!-- Pagination -->
               <style>
                 .pagination-container {
                   display: flex;
                   justify-content: center;
                 }
               </style>
               <div class="pagination-container">
                 <nav class="pagination" aria-label="Pagination">
                   {{ template "_internal/pagination.html" . }}
                 </nav>
               </div>
           </div>
       </div>
   </div>

{{ end }}